// Application-level settings for the Runner target.

// The app name is also the default Flutter window title.
PRODUCT_NAME = SEIL

// The application's bundle identifier.
PRODUCT_BUNDLE_IDENTIFIER = com.zarathu.seil

// The copyright displayed in application information.
PRODUCT_COPYRIGHT = Copyright © 2026 Zarathu. All rights reserved.
